:root {
  --c-main: #011627;
  --c-main-dark: #01080E;
  --c-secondary: #011221;
  --c-border: #1E2D3D;

  --c-white: #FFFFFF;
  --c-gray: #607B96;
  --c-green: #43D9AD;
  --c-teal: #3C9D93;
  --c-blue: #4D5BCE;
  --c-purple: #C98BDF;
  --c-red: #E99287;
  --c-orange: #FEA55F;
}