@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import "colors";
@import "reset";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: "Fira Code", sans-serif;
  overflow: hidden;
}

body {
  background: var(--c-main);
}