.footer {
    margin: 2rem 0;
}

.footer__brand {
    img {
        height: 2.5rem;
    }
}

.footer__copyright {
    padding-top: 0.30rem;
    margin-top: 0.30rem;
    border-top: 1px solid var(--c-border);
    font-size: .8rem;
}