.header {
    border: solid var(--c-border);
    border-width: 1px 0;
    margin: 50px 0;

    --padding: 25px;
    .header__about {
        padding: var(--padding) var(--padding) var(--padding) 0;
        border-right: 1px solid var(--c-border);
    }

    .header__quote {
        padding: var(--padding) 0 var(--padding) var(--padding);

        p {
            font-size: 34px;
            max-width: 400px;
        }

        .download-button span {
            max-width: 120px;
        }
    }
}

@media screen and (max-width: 900px){
    .header {
        grid-template-columns: 1fr!important;
    }
    .header__about {
        border-right: none!important;
        border-bottom: 1px solid var(--c-border);
        padding: var(--padding) 0!important;
    }
    .header__quote {
        padding: var(--padding) 0!important;
    }
}