.navigation {
    margin: 2rem 0;

    .navigation__brand {
        height: 2.5rem;
    }

    .navigation__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .navigation__menu-item {
        position: relative;
        text-decoration: none;
        font-size: .8rem;
        color: var(--c-text);
        padding: 5px;
        font-weight: 600;

        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 0;
            top: 0;
            right: 0;
            transition: width .2s;
            background: var(--c-background);
            mix-blend-mode: difference;
        }

        &[data-active="true"]:before, &:hover:before {
            width: 100%;
            left: 0;
            right: initial;
        }
    }

    .navigation__socials {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;

        img {
            height: 1.2rem;
        }
    }
}