.section__work-grid {
    margin-bottom: 45px;
}

.section__work {
    margin: 40px 0 80px;
}

.section__work-badge-container {
    max-width: 350px;
}

.section__work-card-expand {
    height: 24px;
}