.button {
    svg {
        width: 30px;
        height: 30px;
    }

    text-transform: uppercase;
    text-decoration: none;
    color: var(--c-text);
    font-size: 1.2rem;
}

.button--secondary {
    background: white;
    border: 1px solid var(--c-border);
    width: max-content;
    padding: 10px 14px;
    position: relative;

    &:hover img {
        mix-blend-mode: difference;
        background-color: var(--c-background);
    }

    &:hover:before {
        width: 100%;
        left: 0;
    }

    &:before {
        transition: width .2s;
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 0;
        height: 100%;
        mix-blend-mode: difference;
        background-color: var(--c-background);
    }
}